<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DeepLinker | Redirecting</title>
		<style>
			body {
				background-color: rgba(241, 255, 255, 0.955);
			}
			* {
				text-align: center;
			}
			#redirectLink {
				overflow-wrap: break-word;
			}
			button {
				padding: 1em;
				border-radius: 1em;
				background-color: rgb(255, 255, 255);
			}
		</style>
	</head>
	<body>
		<h1>Redirecting</h1>
		<br />
		<br />
		<br />
		<%if (data.href) { %>
			<h5>Agent : Desktop</h5>
			<br />
			<a href="<%= data.href %>">
				<button>Click To open APP</button>
			</a>
		<% } %>

		<script>
			setTimeout(()=>{
				window.location.replace("<%=data.href%>");
				//window.location.href = "<%=data.href%>";
			},1000);
		</script>
	</body>
</html>
