<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DeepLinker | Home</title>
    <style>
        body{
            background-color: azure;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        h1{
            text-align: center;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        div>*{
            margin: 0.5em;
        }
        a{
            background-color: rgb(185, 178, 236);
            padding: 0.5em;
            border-radius: 0.5em;
            box-shadow: inset;
            text-decoration: none;
            color: black;
        }

    </style>
</head>
<body>
    <h1>WELCOME TO DEEPLINKER</h1>
    <h2>HOME</h2>
    <br>
    <br>
    <div>       
        <a href="/create">Create</a>
        <a href="/delete">Delete</a>
    </div>
    <br>
    <br>
</body>
</html>