<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeepLinker | Delete</title>
    <style>
        body{
            background-color: azure;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 60vh;
        }
        h1{
            text-align: center;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        form>*{
            margin: 0.5em;
            padding: 0.5em;
        }
        div>*{
            margin: 0.5em;
        }
        input{
            width: 120%;
        }
        a{
            background-color: rgb(185, 178, 236);
            padding: 0.5em;
            border-radius: 0.5em;
            box-shadow: inset;
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <h1>DELETE</h1>
    <div>
        <a href="/create">Create</a>
        <a href="/">Home</a>
    </div>
    <br>
    <br>
    <br>
    <form action="/api/delete" method="POST" id="deleteForm">
        <input placeholder="URL to delete" type="text" name="url" id="link" required>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>