<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DeepLinker</title>
		<style>
			body {
				background-color: rgba(242, 254, 254, 0.955);
			}
			* {
				text-align: center;
			}
			#copy{
				overflow-wrap: break-word;
			}
			button {
				padding: 1em;
				border-radius: 1em;
				background-color: rgb(255, 255, 255);
			}
		</style>
	</head>
	<body>
		<h1>Result</h1>
		<br />
		<br />
		<%if (data.link) { %>
			<h2 id="copy"><%= data.link %></h2>
			<button id="button"  onclick="copyFunction()">Click to copy</button>
			<br />
			<br />
		<% } %>	
		
		<%if (data.message) { %>
			<h3><%= data.message %></h3>
		<% } %>

		<script>
			function copyFunction() {
				let copyText = document.getElementById("copy");
				navigator.clipboard.writeText(copyText.innerText);
				document.getElementById("button").innerText = "Copied!";
			}
		</script>
	</body>
</html>
